#massdiv{
    padding: 18%;
    background: url(roses.jpg);
    border: 10px solid;
    text-align: center;
    color: lavender;
    
}

.navvu{
    padding: 1%;
    font-size: 200%;
}

.navu{
    font-size: 120%;
}
